.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: rgb(86, 10, 68);
}

.lnk {
    margin: 0px 5px;
}

.home {
    margin-left: 5px;
}

.lnk, .home {
    background-color: rgb(31, 1, 27);
    padding: 10px;
    border: solid 2px rgb(0, 0, 0);
}

.lnk:hover, .home:hover {
    border: solid 2px rgb(167, 24, 175);
}